@model IList<Tool>
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Marketing Businesses Directory";
    ViewData["Meta-Description"] = "Find digital markting businesses on our comprehensive business directory.";
    ViewData["Meta-Keywords"] = "social media, digital marketing, seo marketing, ppc marketing, content marketing, mobile makeing, profile, bio, online presence, competition";
}

<!-- HEADER -->
<header class="bg-dark pt-9 pb-11 d-none d-md-block">
    <div class="container-md">
        <div class="row align-items-center">
            <div class="col">

                <!-- Heading -->
                <h1 class="fw-bold text-white mb-2">
                    Social Media Marketing Business
                </h1>

                <!-- Text -->
                <p class="fs-lg text-white-75 mb-0">
                    Find social media marketing businesses that best fits your needs.
                </p>

            </div>
        </div>
    </div>
</header>

<!-- CONTENT -->
<main class="container-lg pb-8 pb-md-11 mt-md-n6">
    <div data-list='{"valueNames": ["name"]}'>
        <div class="container-fluid" data-list='{"valueNames": ["name"], "listClass": "listAlias"}'>
            <div class="row mb-4">
                <div class="col">

                    <!-- Form -->
                    <form method="post" action="/Listing/Search">
                        <div class="input-group input-group-merge input-group-reverse">

                            <!-- Input -->
                            <input class="form-control list-search" type="text" id="query" name="query" placeholder="Search Marketing Businesses" required />

                            <!-- Prepend -->
                            <div class="input-group-text">
                                <button type="submit" class="btn fe fe-search"></button>
                            </div>
                        </div>
                    </form>

                </div>
            </div> <!-- / .row -->
            <!-- Tab content -->
            <div class="tab-content">
                <div class="row list">
                    @foreach (var business in Model)
                    {
                        <div class="col-12 mb-3">

                            <div class="card border border-3">
                                <div class="card-body bg-light">
                                    <div class="row align-items-center">
                                        <div class="col-3 w-25 h-25 d-inline-block">
                                            <img src="~/img/avatars/projects/project-1.jpg" alt="@business.Name" class="avatar-img rounded">
                                        </div>
                                        <div class="col-6">

                                            <!-- Business Name -->
                                            <h4 class="mb-1 name">
                                                @business.Name
                                            </h4>

                                            <!-- Website -->
                                            <a href="@business.Website" target="_blank" class="card-text small text-primary mb-1">
                                                @business.Website
                                            </a>
                                            <span class="mx-1">|</span>
                                            <!-- Phone Number -->
                                            <a href="tel:@business.Phone" class="card-text small text-secondary mb-1">
                                                @business.Phone
                                            </a>
                                            
                                            <!-- Description -->
                                            <p class="mt-2 card-text small text-gray-700">
                                                @business.Description
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <a href="/Listing/Business/@business.ID" class="btn btn-sm btn-primary">
                                                View Details
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>